html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
	padding-bottom: 150px;
}

form
{
	box-shadow:2px 2px 5px grey;
	padding: 5px;
	margin-top:150px;
}

#bodyContainer
{
	
}