html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
	padding-bottom: 50px;
}

.sign_verify
{
	box-shadow:2px 2px 5px grey;
	padding: 5px;
	margin-top:50px;
	height:80%;
	margin-bottom:50px;
}

#console{
	height: 300px;
	border: 1px solid #AAAAAA;
	border-radius:10px;
	overflow:auto;
	padding-top:10px;
}

.eventConsole
{
	
}